<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style type="text/css">
        .tblAlternate tr:nth-child(even) td {
            background-color: #EFF0F1;
        }

        .defaultBGcolor {
            background-color: #FFFFFF !important;
        }
        .auto-style1 {
            height: 20px;
        }
    </style>

</head>
<body>
    <form id="form1" runat="server">

        <div>
            <table style="font-family: Arial; font-size: 11px; border-spacing: 0; border-collapse: collapse;">
                <tr style="font-family: Calibri; font-size: 16px; color: black; text-align: center">
                    <td colspan="11"><b>Sertipikat Sudah Jatuh Tempo</b></td>
                </tr>
                
                <tr style="font-family: Calibri; font-size: 12px; color: black; text-align: center">
                    <td colspan="21"><b>@AsOf</b></td>
                </tr>

                <tr style="height:20px">
                    <td colspan="11"></td>
                </tr>

                <tr>
                    <td style="width:150px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Kode</td>
                    <td style="width:150px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Nama Aset</td>
                    <td style="width:100px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Nomor Sertipikat</td>
                    <td style="width:100px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Tanggal Penerbitan</td>
                    <td style="width:100px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Tanggal Berakhir Hak</td>
                    <td style="width:100px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Lewat Hari</td>
                    <td style="width:150px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Alamat Sertipikat</td>
                    <td style="width:100px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Luas Tanah Fisik</td>
                    <td style="width:100px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Luas Tanah Sertipikat</td>
                    <td style="width:150px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Jenis Hak Atas Tanah</td>
                    <td style="width:200px; text-align:center; background-color:#E0E0E0; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Nama Pemegang Hak</td>
                </tr>

                @ContentReport
                
                <tr style="height:20px">
                    <td colspan="11"></td>
                </tr>
                
                <tr style="font-family: Calibri; font-size: 10px; color: black; text-align: center">
                    <td colspan="11">-- End of Report --</td>
                </tr>

                <tr style="font-family: Calibri; font-size: 10px; color: black; text-align: left">
                    <td colspan="11">Printed by : @PrintedBy</td>
                </tr>
            </table>
        </div>

    </form>
</body>
</html>
