<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style type="text/css">
        .tblAlternate tr:nth-child(even) td {
            background-color: #EFF0F1;
        }

        .defaultBGcolor {
            background-color: #FFFFFF !important;
        }
        .auto-style1 {
            height: 20px;
        }
    </style>

</head>
<body>
    <form id="form1" runat="server">

        <div>
            @ContentReport
        </div>

    </form>
</body>
</html>
