<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style type="text/css">
        .tblAlternate tr:nth-child(even) td {
            background-color: #EFF0F1;
        }

        .defaultBGcolor {
            background-color: #FFFFFF !important;
        }
        .auto-style1 {
            height: 20px;
        }
    </style>

</head>
<body>
    <form id="form1" runat="server">

        <div>
            <table style="font-family: Arial; font-size: 16px; color: #464646; width: 100%">
                <tr style="text-align: center">
                    <td colspan="12" style="max-width: 500px; text-align: center"><b><u>EXECUTIVE PROJECT SUMMARY</u></b></td>
                </tr>
            </table>
            <br />

            <table style="font-family: Arial; font-size: 12px; color: #464646;">
                <tr>
                    <td style="max-width: 150px; text-align: left"><b>AS OF</b></td>
                    <td colspan="20" style="max-width: 500px; text-align: left"><b>: <u>@ReportAsOfDate</u></b></td>
                </tr>
            </table>
            <br />

            <table style="font-family: Arial; font-size: 11px; color: #464646; border-spacing: 0; border-collapse: collapse;" class="tblAlternate">
                <tr style="background-color: #f5f5f5">
                    <td rowspan="2" style="text-align:center; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black;">Project Code</td>
                    <td rowspan="2" style="text-align:center; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black; background-color: #fff3b2; width:200px">Project</td>
                    <td colspan="2" style="text-align:center; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black; background-color: #FFB6C1">Initial Budget</td>
                    <td colspan="6" style="text-align:center; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black; background-color: #b6d4ed">Sales Performance</td>
                    <td colspan="3" style="text-align:center; font-weight:bold; padding:5px 15px 5px 15px; height:20px; border:.5pt solid black; background-color: #d5ffcc">Cost</td>
                </tr>

                <tr style="background-color: #f5f5f5">
                    <!--Initial Budget-->
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #FFB6C1"><strong>#Unit</strong></td>
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #FFB6C1"><strong>Rp (Bio)</strong></td>

                    <!--Sales Performance-->
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #b6d4ed"><strong>Mkt 12X<br />Gold</strong><br />
                        Rp (Bio)</td>

                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #b6d4ed"><strong>Sales</strong><br />
                        Rp (Bio)</td>
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #b6d4ed"><strong>Collection</strong><br />
                        Rp (Bio)</td>
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #b6d4ed"><strong>Collected %</strong></td>
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #b6d4ed"><strong>Inventory</strong><br />
                        Rp (Bio)</td>
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #b6d4ed"><strong>Projected Sales</strong><br />
                        Rp (Bio)</td>

                    <!--Cost-->
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #d5ffcc"><strong>Marketing Cost</strong> <br />
                        Rp (Bio)</td>
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #d5ffcc"><strong>Initial<br />
                        Construction Cost</strong><br /> Rp (Bio)</td>
                    <td style="text-align: center; padding: 5px 15px 5px 15px; border: .5pt solid black; height: 20px; min-width: 50px; background-color: #d5ffcc"><strong>Actual<br />
                        Construction Cost</strong><br /> Rp (Bio)</td>
                </tr>

                @ContentReport

            </table>
        </div>

    </form>
</body>
</html>
