<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LKReportingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <log4net>
    <root>
      <!--<level value="DEBUG" />
          <appender-ref ref="LogFileAppender" />-->
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="EmailAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <acceptOnMatch value="true"/>
      </filter>
      <!--<param name="File" value="C:\Try\logger\logger\bin\Debug\log.txt" />-->
      <file value="D:\Log\Management Report.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <!--<maxSizeRollBackups value="10" />
          <maximumFileSize value="10MB" />-->
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n "/>
      </layout>
    </appender>
  </log4net>

  <connectionStrings>
    <!--<add name="PropertySystemDBConn" connectionString="Data Source=svrdev2\svrdev2;Initial Catalog=PropertySystem;Persist Security Info=True;User ID=usrLK;Password=123456" providerName="System.Data.SQLClient"/>
    <add name="LippoMasterDBConn" connectionString="Data Source=svrdev2\svrdev2;Initial Catalog=LippoMaster;Persist Security Info=True;User ID=usrLK;Password=123456" providerName="System.Data.SQLClient"/>
    <add name="LKAppConn" connectionString="Data Source=EIFFEL;Initial Catalog=LKAppDB;Persist Security Info=True;User ID=usrProperty;Password=pr0p3rtyq1w2" providerName="System.Data.SQLClient"/>-->

    <add name="OthersAppDBConn" connectionString="Data Source=EIFFEL;Initial Catalog=OthersApps;Persist Security Info=True;User ID=usrProperty;Password=pr0p3rtyq1w2" providerName="System.Data.SQLClient"/>
  </connectionStrings>

  <appSettings>
    <!--<add key="rootUrl" value="http://appdev1.lippokarawaci.co.id/PropertySystemWebServicesDev/"/>-->
    <add key="rootUrl" value="http://localhost:49283/"/>
    <!--pakai projectInclude-->
    <add key="projectExclude" value="000,BCM,BSM,COT,CRC,CRI,DS8,DTS,EMB,FAV,GPM,GTC,HLV,HVM,KDB,KVR,LBK,LCI,LCK,LCR,LKB,LKS,LKU,LPC,LSK,LTH,LUK,MBR,MOR,MTR,MTS,MVI,NRS,OCR,PBM,PLS,PRI,PRL,PVC,RLH,RSV,SDH,SHM,SMM,TB2,TBN,URB,WTC"/>
    <add key="projectInclude" value="EMB,MBR,MVI,SMM,LTH,HLV,NRS,KVR,MOR" />
    <add key="clusterExclude" value="TSPH" />
    <add key="emailTo" value="lukas.kusuma@lippokarawaci.co.id"/>
    <add key="emailCC" value="zeno.matius@lippokarawaci.co.id"/>
    <add key="emailBCC" value=""/>
    <add key="emailFrom" value="sqlmail@lippokarawaci.co.id"/>
    <add key="emailFromDisplayName" value="Lippo Homes"/>
    <add key="PathImgPromoLiberty" value="\\lk-web-fe01\LKuploader\MailPromo\"/>
    <add key="PathImgArcPromoLiberty" value="\\lk-web-fe01\LKuploader\MailPromo\archive\"/>
    <add key="LandedCategory" value="'KVK', 'LAN','SER','RKO','RKH','THS','CMT'"/>
    <add key="ApartmentCategory" value="'COM', 'FFS', 'KDM', 'RKS', 'SMK', 'OFS'"/>
  </appSettings>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" executionTimeout="600000"/>
  </system.web>

  <applicationSettings>
    <LKReportingSystem.Properties.Settings>
      <setting name="LKReportingSystem_LKGenWS_SQLServerService" serializeAs="String">
        <value>http://appdev2.lippokarawaci.co.id/LKGeneralWebServices/sqlserverservice.asmx</value>
      </setting>
      <setting name="LKReportingSystem_NewCommWS_NewComm_Services1"
        serializeAs="String">
        <value>http://10.122.2.4/NewCommWebServices/NewComm_Services.asmx</value>
      </setting>
      <setting name="LKReportingSystem_BudgetMktWS_WS_BudgetMarketing"
        serializeAs="String">
        <value>http://10.122.2.4/BudgetMktWebService/WS_BudgetMarketing.asmx</value>
      </setting>
      <setting name="LKReportingSystem_CostContractWS_WS_CostAndContract"
        serializeAs="String">
        <value>http://10.122.2.4/CostContractWebService/WS_CostAndContract.asmx</value>
      </setting>
      <setting name="LKReportingSystem_WS_OnlineBooking_WS_OnlineBooking"
        serializeAs="String">
        <value>http://localhost:55489/WS_OnlineBooking.asmx</value>
      </setting>
    </LKReportingSystem.Properties.Settings>
  </applicationSettings>
 
</configuration>
